{% extends 'basic_app/base.html' %}
{%load staticfiles%}
{% block content %}


<div class="hero">
  <div class="overlay_page_title">
  <p>About US</p>
  </div>
  <div class="team_cont">
    <img id="team-hero" src="{% static 'images/image14.jpg' %}">
  </div>
  </div>

  <div class="container">
<div class="about">


<!-- <div class="jumbotron"> -->


<h3 id='at'>Transport Properties is a Chicago-based real estate company focused on the acquisition and operations of specialized industrial properties nationally.  Our acquisitions and development service the following industries:</h3>
<!-- </div> -->
<br>
<ul class='al list-group list-group-flush'>
  <li class='list-group-item'>Trucking and Transportation (Terminals, Repair Facilities & Trailer Yards)</li>
  <li class='list-group-item'>Equipment Rental and Storage</li>
  <li class='list-group-item'>Contractor and Construction Companies</li>
  <li class='list-group-item'>Bus Facilities</li>
  <li class='list-group-item'>Transload Facilities</li>
  <li class='list-group-item'>Utility and Municipal Repair and Storage Facilities</li>
  <li class='list-group-item'>Recycling Facilities</li>
</ul>
<br>
<p>Transport Properties is internally capitalized and fully integrated with the tools to envision, plan and execute a wide variety of projects.  From specific site selection criteria to environmental remediation to build-to-suit specifications; we ensure our projects meet the needs of our tenants and deliver a best-in-class result.</p>

</div>


</div>
{% endblock %}
