{% extends 'basic_app/base.html' %}
{%load staticfiles%}
{% block content %}
<div class="hero">
  <div class="overlay_page_title">
  <p>team</p>
  </div>



  <div class="team_cont">


    <img id="team-hero" src="{% static 'images/Aerial.jpg' %}">
  </div>
  </div>

<div class="team_info">


<div class="container">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="img_cont">
        <img class='team_photo' src='{% static 'images/TM2.jpg' %}'>
      </div>
          </div>
      <div class="col-xs-12 col-md-7 col-lg-9">
        <br>
        <div class='bio'>
        <h3>Tim McCahill</h3>
          <p>Timothy J. McCahill is a Founder, Partner and President of Transport Properties.  His primary responsibilities are acquisitions, leasing and executing the vision for multiple projects.  Tim is also Principal at Lee & Associates; accumulating over 7 years of specialized experience representing the transportation industry.  Since joining, he has represented his clients in over $300 million of transactions, totaling over 10 million square feet and 250 acres of land. </p>
          <p>Tim graduated from the University of Kansas (Lawrence) with a B.A. in History and a minor in Communication Studies.</p>
        </div>
      </div>
    </div>
<br>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="img_cont">
        <img class='team_photo' src='{% static 'images/JK2.jpeg' %}'>
      </div>
          </div>
      <div class="col-xs-12 col-md-7 col-lg-9">
        <br>
          <div class='bio'>
        <h3>Jim Kurtzweil</h3>
          <p>James Kurtzweil is a Founder and Partner of Transport Properties. Jim is also a Principal and founding member of Clark Street Real Estate, LLC for over 14 years. He successfully drove the execution for numerous projects at Clark Street.  His proficiency lies in due diligence, managing the entitlement process, coordinating construction and negotiating leases for retail and mixed use projects in and out of state. Jim obtained his MBA in Finance & Strategy with honors from the University of Chicago in 2003. He graduated from the University of Illinois in Champaign, IL with a Bachelor of Science degree in Mechanical Engineering in 1994.</p>
          </div>
      </div>
    </div>
<br>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="img_cont">
        <img class='team_photo' src='{% static 'images/JC.jpg' %}'>
      </div>
          </div>
      <div class="col-xs-12 col-md-7 col-lg-9">
        <br>
          <div class='bio'>
        <h3>John Collins</h3>
          <p>John Collins is a Founder and Partner of Transport Properties. He is primarily responsible for debt and equity finance, acquisition analysis and asset management for the Company and its projects. John started his professional career in 2001 at LaSalle Bank in Chicago. He quickly moved to join Collins Interests, LTC as Partner where he managed a portfolio of over 30 properties totaling over 2.5 million sf of retail, industrial and office space. John later founded and became Principal of Clark Street Real Estate.  His responsibilities included new development, investment analysis, lease structure, tax and partnership structuring as well as project finance.</p>
          </div>
      </div>
    </div>
<br>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="img_cont">
        <img class='team_photo' src='{% static 'images/DH.jpg' %}'>
      </div>
          </div>
      <div class="col-xs-12 col-md-7 col-lg-9">
        <br>
          <div class='bio'>
        <h3>Dick Hulina</h3>
          <p>Richard Hulina is a Founder and Partner of Transport Properties.  He provides seasoned advice for the Company’s project acquisition, site layout and tenancy. Dick began his real estate career with Sears and Homart Development Company in 1973 as Director of Regional Malls; VP of Land Development; and VP of Leasing. He oversaw the development of over 40 regional malls during his tenure. He later joined Vantage/Bradford as Partner and EVP of Retail Development.  In 1989, Dick joined Hiffman Shaffer Associates (now HSA Commercial) as a Principal / President of Retail.  Dick later founded Clark Street Real Estate and oversaw the successful development of numerous retail, industrial and mixed-use projects.</p>
          </div>
      </div>
    </div>
<br>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="img_cont">
        <img class='team_photo' src='{% static 'images/TC.jpg' %}'>
      </div>
          </div>
      <div class="col-xs-12 col-md-7 col-lg-9">
        <br>
          <div class='bio'>
        <h3>Tom Collins</h3>
          <p>E. Thomas Collins, Jr. is a Founder and Partner of Transport Properties.  He oversees project acquisition, structures agreements, and provides a seasoned focus for the Company’s development efforts. Tom has been an active developer and executive in Chicago real estate for over 40 years.  He began his career at Massachusetts Mutual, became President of Lake Development Ltd., rose to Vice Chairman and CFO of Hiffman Shaffer Associates (now HSA Commercial), and Founding Principal of Clark Street Real Estate. Tom was responsible for the acquisition, financing and development of over $2 billion in projects over his career.</p>
          </div>
      </div>
    </div>
<br>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="img_cont">
        <img class='team_photo' src='{% static 'images/Pat2.png' %}'>
      </div>
          </div>
      <div class="col-xs-12 col-md-7 col-lg-9">
        <br>
          <div class='bio'>
        <h3>Pat Lee</h3>
          <p>Patrick Lee is a Founder, Partner and Heads Construction for Transport Properties.  He and his firm, Lee Companies, formed a strategic relationship with Transport Properties that leverages Lee Companies’ expertise in all facets of construction management, asset management and accounting. Pat has accumulated over 40 years of progressive experience in construction, project development, and real estate development encompassing hundreds of commercial, residential and institutional projects. He began his career with hands on involvement in the trades and has advanced to managing projects by integrating the work of architects, engineers, consultants, and contractors to execute the vision for his clients.</p>
          </div>
      </div>
    </div>
<br>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-3 justify-content-center">
        <div class="img_cont">
        <img class='team_photo' src='{% static 'images/Joe_Feeney.jpg' %}'>
      </div>
          </div>
      <div class="col-xs-12 col-md-7 col-lg-9">
        <br>
          <div class='bio'>
        <h3>Joe Feeney</h3>
          <p>Joe Feeney specializes in acquisition, leasing, and development for Transport Properties’ national portfolio. Joe is also a Senior Associate at Lee & Associates specializing in Transportation related assets throughout the county.</p>
          <p>Joe graduated from the University of Iowa with a B.A. in Economics and a minor in Political Science.</p>
          </div>
      </div>
    </div>


    </div>
</div>





    </div>
  </div>



{% endblock %}
